<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Mi Layout</h1>
    <ul> 
      <li><%= link_to "Hello", hello_url('Sebastian')%></li>
      # <li><a href="<%= pages_contact_path %>">Contact</a></li>
      # <li><a href="<%= pages_posts_path %>">Posts</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
